.container {
  margin: 0 auto;
  width: 640px;
}
.header {
  padding: 3px 0;
  background-color: yellowgreen;
}
.header h1,
.header h2 {
  color: greenyellow;
  text-align: center;
}
.footer {
  background-color: yellowgreen;
  color: black;
  padding: 20px 0;
  margin-top: 30px;
  text-align: center;
}

/* NAVIGATION */
.page-navigation {
  background-color: #222;
  border-color: #101010;
  min-height: 64px;
}
.page-navigation li {
  float: left;
  width: 70px;
}
.page-navigation a {
  display: block;
  color: #9d9d9d;
  line-height: 4em;
  font-weight: bold;
  text-align: center;
}
.page-navigation li a:hover {
  color: yellowgreen;
  background-color: black;
}
/* NAVIGATION */
/* LOGIN FORM */
.login {
  padding: 18px 0;
  float: right;
}
.login input[type="text"],
.login input[type="password"] {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
}
.login input[type="submit"] {
  padding: 5px 15px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.login input[type="submit"]:hover,
button:hover {
  background-color: darkgrey;
  color: white;
}
/* LOGIN FORM */
